{% extends 'partials/base.html' %}

{% block content %}

    <div style="padding: 3%" class="row mt-2">
        <div class="col-md-4">
            <h2>Team Data</h2>
            <hr>
            <h4>Team 1 Current Score:</h4>
            <b><p style="color:red; font-size: 140%;" id='p1'></p></b>
            <h4>Team 2 Current Score:</h4>
            <b><p style="color:blue; font-size: 140%;" id='p2'></p></b>
        </div>
        <div class="col-md-8">
            <canvas id="myChart" width="400" height="400"></canvas>
            <script>
            function Gen(val) {
    
                function randint(min, max){
                    return Math.floor(Math.random() * (max - min)) + min;
                }
                    
                var total = 0;
                var final = val;
                num_list = [];
                    
                while(true){
                    if (total>=final) {
                        total = final;
                    }
                        
                    num_list.push(total);
                        
                    if (total == final) {
                        return (num_list.slice(1,num_list.length))
                        break
                    } else {
                        total = total + 5 + randint(-6,8);
                    }
                }
            }

            var xValues = ['Lv1','Lv2','Lv3','Lv4','Lv5','Lv6','Lv7','Lv8','Lv9','Lv10'];

            var data1 = Gen([{% for score in data %} {{ score.team1 }}, {% endfor %}][0]);
            var data2 = Gen([{% for score in data %} {{ score.team2 }}, {% endfor %}][0]);

            let i = 1;

            team1 = data1.slice(0, i);
            team2 = data2.slice(0, i);
            
                
            var chart = new Chart("myChart", {
                type: "line",
                data: {
                labels: xValues,
                datasets: [{
                    label: "Team 1",
                    data: [0,].concat(team1),
                    borderColor: "red",
                    fill: false
                },{
                    label: "Team 2",
                    data: [0,].concat(team2),
                    borderColor: "blue",
                    fill: false
                    }]
                },
                options: {
                legend: {display: false},
                animation: false,
                }
            });


            function addValue() {
                chart.data.datasets[0].data.push(data1[chart.data.datasets[0].data.length]);
                chart.data.datasets[1].data.push(data2[chart.data.datasets[1].data.length]);
                chart.update();
            };

            setInterval(addValue, 1000);
                    
            var Score1 = [{% for score in data %} {{ score.team1 }}, {% endfor %}];
            var Score2 = [{% for score in data %} {{ score.team2 }}, {% endfor %}];

            document.getElementById('p1').innerHTML = Score1[Score1.length - 1];
            document.getElementById('p2').innerHTML = Score2[Score2.length - 1];

            
            
            </script>
        </div>
    </div>

{% endblock %}